In [9]:
name = input("Enter your name: ")
city = input("Enter your city: ")

In [10]:
age = input("Enter your age: ")

In [3]:
x = int(input("Enter a number A: "))
y = int(input("Enter a number B: "))
x + y

700

typecast

In [7]:
name = 'alex 🍦'

In [26]:
print('this is a string')
print('our numbers', x,'+', y)

this is a string
our numbers 200 + 500

In [11]:
print(x, y, name, age, city)

200 500 Alexa 300 Amazon forest

In [12]:
print(x)
print(y)
print(name)
print(age)
print(city)

200
500
Alexa
300
Amazon forest

In [20]:
print(x, y, name, age, city, sep="\n")

200
500
Alexa
300
Amazon forest

In [24]:
print('hi', end=',')
print('there')

hi,there

`adding x with y will give x+y`

In [31]:
print(f'adding {x} with {y} will give {x+y}')

adding 200 with 500 will give 700

In [46]:
a = 10
b = 3
print(f'{a}/{b} = {a/b:.2f}')

10/3 = 3.33

In [48]:
address = '123 Main St, New York, NY 10030'

In [73]:
print(f'{"name":10}{name:>35}')
print(f'{"age":10}{age:>35}')
print(f'{"city":10}{city:>35}')
print(f'{"address":10}{address:>35}')

name                                    Alexa
age                                       300
city                            Amazon forest
address       123 Main St, New York, NY 10030

In [68]:
result = f'{x} + {y} = {x+y}'