## data-structure
- list ðŸ¤©
    - indexed, ordered, mutable, `[ ]`
- tuple
    - indexed, ordered, **immutable**, `( )`    
- set
    - **unindexed**, **unordered**, mutable, **no-duplicates** `{ }`
- dictionary ðŸ¤©
    - **unindexed**, **ordered**, **key-value pairs**, mutable, `{ }`

In [ ]:
# creating a list
x = [] # empty list
y = [1,2,3,4,5] # list of integers
z = ['sunday', 'monday','holiday']
grocery = ['milk', 55, 'bread', 20, 'butter', 49]
info = [[1,2,3], [4,5,6], [7,8], [9,10,11,12]] # nested list
a = [1] * 15 # list of 15 elements with ones

In [ ]:
x.append(10)
x.append(input('Enter a number: '))

In [ ]:
for i in range(3):
    val = int(input('Enter a number: '))
    x.append(val)
print(x)

In [ ]:
del info # delete the variable info from memory

In [ ]:
print(x[0], x[-1], x[1])
print(x[:2]) # slicing first two elements
print(x[-3:]) # slicing last three elements
print(x[::-1]) # reverse the list

In [ ]:
for i in x:
    print(i, end=' ')

- list functions
    - adding
        - append() - add sinle item to the end
        - insert() - insert single item at given index 
        - extend() - merge an list to an existing list
    - remove
        - remove() - remove single item by value
        - pop() - remove single item by index
        - clear() - remove all items
    - utility   
        - index() - find index of item by value
        - count() - count repeated items
        - sort() - sort items
        - reverse() - reverse items 
        - copy() - copy list

In [ ]:
books = [] # books list empty
books.append('The Final Empire') # a string is added to the end of list
books.append('Psychology of money')
books.append('Well of Ascension')
books

In [ ]:
books.insert(1, "Harry Potter and the goblet of fire")
books

In [ ]:
books[2] = "The Hero of Ages" # replace 
books

In [ ]:
old_books = ['A song of Fire and Ice','Umbrella','The Jungle Book','Pride and Prejudice']
books.extend(old_books)

In [ ]:
books

In [ ]:
if 'The Jungle Book' in books:
    books.remove('The Jungle Book') # removes only the first occurance
books

In [ ]:
books.pop(4)

In [ ]:
books.pop() # removes the last item/element

In [ ]:
books.clear() 
books

In [8]:
kachra = '''The Graduate (1967)
12 Angry Men (1957)
Women on the Verge of a Nervous Breakdown (1988)
Alien (1979)
A Hard Dayâ€™s Night (1964)
Toy Story (1995)
Bridesmaids (2011)
Le SamouraÃ¯ (1967)
The Godfather (1972)
The Shawshank Redemption (1994)
Schindlerâ€™s List (1993)
Raging Bull (1980)
The Wizard of Oz (1939)
The Silence of the Lambs (1991)
Singinâ€™ in the Rain (1952)
Casablanca (1942)
The Lord of the Rings: The Return of the King (2003)
Psycho (1960)
Citizen Kane (1941)
Pulp Fiction (1994)
The Dark Knight (2008)
Star Wars: Episode IV - A New Hope (1977)
E.T. the Extra-Terrestrial (1982)
Jaws (1975)
The Matrix (1999)
Raiders of the Lost Ark (1981)
Titanic (1997)
The Lion King (1994)
Forrest Gump (1994)
Back to the Future (1985)
The Terminator (1984)
Jurassic Park (1993)
The Sixth Sense (1999)
The Avengers (2012)
The Shining (1980)
The Exorcist (1973)
The Sound of Music (1965)
Gone with the Wind (1939)
The Good, the Bad and the Ugly (1966)
Apocalypse Now (1979)
One Flew Over the Cuckooâ€™s Nest (1975)
The Godfather Part II (1974)
Goodfellas (1990)
The Departed (2006)
Fight Club (1999)
Inception (2010)
The Prestige (2006)
Memento (2000)
The Usual Suspects (1995)
The Shawshank Redemption
'''
movies = kachra.splitlines()
movies

['The Graduate (1967)',
 '12 Angry Men (1957)',
 'Women on the Verge of a Nervous Breakdown (1988)',
 'Alien (1979)',
 'A Hard Dayâ€™s Night (1964)',
 'Toy Story (1995)',
 'Bridesmaids (2011)',
 'Le SamouraÃ¯ (1967)',
 'The Godfather (1972)',
 'The Shawshank Redemption (1994)',
 'Schindlerâ€™s List (1993)',
 'Raging Bull (1980)',
 'The Wizard of Oz (1939)',
 'The Silence of the Lambs (1991)',
 'Singinâ€™ in the Rain (1952)',
 'Casablanca (1942)',
 'The Lord of the Rings: The Return of the King (2003)',
 'Psycho (1960)',
 'Citizen Kane (1941)',
 'Pulp Fiction (1994)',
 'The Dark Knight (2008)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'E.T. the Extra-Terrestrial (1982)',
 'Jaws (1975)',
 'The Matrix (1999)',
 'Raiders of the Lost Ark (1981)',
 'Titanic (1997)',
 'The Lion King (1994)',
 'Forrest Gump (1994)',
 'Back to the Future (1985)',
 'The Terminator (1984)',
 'Jurassic Park (1993)',
 'The Sixth Sense (1999)',
 'The Avengers (2012)',
 'The Shining (1980)',
 'The Exorcist (1973)',
 'The Sound of Music (1965)',
 'Gone with the Wind (1939)',
 'The Good, the Bad and the Ugly (1966)',
 'Apocalypse Now (1979)',
 'One Flew Over the Cuckooâ€™s Nest (1975)',
 'The Godfather Part II (1974)',
 'Goodfellas (1990)',
 'The Departed (2006)',
 'Fight Club (1999)',
 'Inception (2010)',
 'The Prestige (2006)',
 'Memento (2000)',
 'The Usual Suspects (1995)',
 'The Shawshank Redemption']

In [ ]:
print(len(movies))

In [ ]:
movies.reverse()

In [ ]:
movies.sort()
movies

In [ ]:
movies.sort(reverse=True)
movies

In [55]:
movies.count('Inception (2010)')

1

In [57]:
x = [1,1,2,5,5,5]
print(x.count(1))
print(x.count(5))
print(x.count(8))

2
3
0

In [63]:
movies.index('Toy Story (1995)')

1

In [64]:
movies_bk = movies.copy() # copies a list to a new memory location

In [69]:
size_movies = []
for movie in movies:
    s = len(movie)
    size_movies.append(s)
print(size_movies)

[48, 16, 14, 23, 25, 21, 25, 22, 31, 18, 31, 24, 19, 17, 52, 20, 19, 37, 28, 20, 19, 19, 22, 19, 41, 26, 23, 30, 18, 19, 13, 38, 14, 18, 20, 11, 16, 17, 25, 19, 17, 33, 19, 17, 18, 25, 21, 12, 25, 19]

In [70]:
x = [16,2,3,4,5,6,10,20]
x2 = [i**2 for i in x]
print(x)
print(x2)

[16, 2, 3, 4, 5, 6, 10, 20]
[256, 4, 9, 16, 25, 36, 100, 400]

In [71]:
x2_even = [i**2 for i in x if i%2==0]
print(x)
print(x2_even)

[16, 2, 3, 4, 5, 6, 10, 20]
[256, 4, 16, 36, 100, 400]

In [3]:
names = ['Alex Pierce','Sam Hemmingway','Raj Mohan','Amar Pratap', 'Bruce Lee']
fnames = [name.split()[0] for name in names]
print(fnames)

['Alex', 'Sam', 'Raj', 'Amar', 'Bruce']

In [5]:
numbers = [2,5,7,3,1,4,7]
odd_cubes = [i**3 for i in numbers if i%2!=0]
print(odd_cubes)

[125, 343, 27, 1, 343]

In [7]:
odd_cubes = []
for i in numbers:
    if i%2!=0:
        odd_cubes.append(i**3)
print(odd_cubes)

[125, 343, 27, 1, 343]