In [12]:
movies = [
    'inception',
    'batman begins',
    'the dark knight',
    'the dark knight rises',
    'interstellar',
    'Fast and Furious',
    '2 Fast 2 Furious',
    'The Fast and the Furious: Tokyo Drift',
    'Fast & Furious 4',
    'Fast Five',
]
print(len(movies))

10

In [13]:
for title in movies:
    print(title)

inception
batman begins
the dark knight
the dark knight rises
interstellar
Fast and Furious
2 Fast 2 Furious
The Fast and the Furious: Tokyo Drift
Fast & Furious 4
Fast Five

In [18]:
for title in movies:
    print(f'{title:40}  {len(title)} chars')

inception                                 9 chars
batman begins                             13 chars
the dark knight                           15 chars
the dark knight rises                     21 chars
interstellar                              12 chars
Fast and Furious                          16 chars
2 Fast 2 Furious                          16 chars
The Fast and the Furious: Tokyo Drift     37 chars
Fast & Furious 4                          16 chars
Fast Five                                 9 chars

In [21]:
for title in movies:
    if 'd' in title or 'D' in title:
        print(title)

the dark knight
the dark knight rises
Fast and Furious
The Fast and the Furious: Tokyo Drift

In [31]:
# nested loops
books = [
    ['Warbreaker', 'Brandon Sanderson', 10],
    ['Elantris', 'Brandon Sanderson', 10],
    ['The Final Empire', 'Brandon Sanderson', 10],
    ['The Well of Ascension', 'Brandon Sanderson', 10],
    ['The Hero of Ages', 'Brandon Sanderson', 10],
    ['The Way of Kings', 'Brandon Sanderson', 10],
    ['Words of Radiance', 'Brandon Sanderson', 10],
    ['Oathbringer', 'Brandon Sanderson', 10],
    ['Rhythm of War', 'Brandon Sanderson', 10],
    ['The Eye of the World', 'Robert Jordan', 1],
]

print(len(books))

10

In [32]:
for book in books:
    for field in book:
        print(field)
    print()

Warbreaker
Brandon Sanderson
10

Elantris
Brandon Sanderson
10

The Final Empire
Brandon Sanderson
10

The Well of Ascension
Brandon Sanderson
10

The Hero of Ages
Brandon Sanderson
10

The Way of Kings
Brandon Sanderson
10

Words of Radiance
Brandon Sanderson
10

Oathbringer
Brandon Sanderson
10

Rhythm of War
Brandon Sanderson
10

The Eye of the World
Robert Jordan
1

In [33]:
for book in books:
    print(f'title: {book[0]}')
    print(f'author: {book[1]}')
    print(f'rating: {book[2]}')
    print()

title: Warbreaker
author: Brandon Sanderson
rating: 10

title: Elantris
author: Brandon Sanderson
rating: 10

title: The Final Empire
author: Brandon Sanderson
rating: 10

title: The Well of Ascension
author: Brandon Sanderson
rating: 10

title: The Hero of Ages
author: Brandon Sanderson
rating: 10

title: The Way of Kings
author: Brandon Sanderson
rating: 10

title: Words of Radiance
author: Brandon Sanderson
rating: 10

title: Oathbringer
author: Brandon Sanderson
rating: 10

title: Rhythm of War
author: Brandon Sanderson
rating: 10

title: The Eye of the World
author: Robert Jordan
rating: 1

In [2]:
prices = [239,530,103,600,100,400,None,4000,99]

for price in prices:
    if price is None:
        break
    print(price)

239
530
103
600
100
400

In [3]:
data = [250, None, 949, 199, None, 299, None, 100]
for price in data:
    if price is None:
        continue
    print(price)

250
949
199
299
100

In [4]:
names = ['Namita', 'Shreya', 'Vidushi', 'Ananya']
for idx, name in enumerate(names):
    print(idx, name)

0 Namita
1 Shreya
2 Vidushi
3 Ananya

In [9]:
grocery = ['bread 🍞', 'milk 🥛', 'butter 🧈','cheese 🧀']
prices = [20, 60, 100, 260]
qtys = [2, 1, 2, 2]

for g, p, q in zip(grocery, prices, qtys):
    print(f'{g:10} {p:5} {q:5} {p*q:5}')

bread 🍞       20     2    40
milk 🥛        60     1    60
butter 🧈     100     2   200
cheese 🧀     260     2   520

In [25]:
num = 12
for i in range(2, num):
    if num % i == 0:
        print(f'{num} => not a prime ')
        break
    # print(f'{num} % {i} = {num%i}')
else:
    print(f'{num} => prime')

12 => not a prime

In [34]:
num = 123456
rev = 0
while num > 0:
    last_digit = num % 10 # remainder
    rev = rev * 10 + last_digit
    print(f'{num:10} {last_digit:5} {rev:10}')
    num //= 10 # quotient
print(rev)

    123456     6          6
     12345     5         65
      1234     4        654
       123     3       6543
        12     2      65432
         1     1     654321
654321

In [36]:
username = 'admin'
password = 'admin123'
while True:
    u = input('username: ')
    p = input('password: ')
    if u == username and p == password:
        print('logged in')
        break
    else:
        print('invalid credentials')
        continue

invalid credentials
invalid credentials
invalid credentials
invalid credentials
invalid credentials
invalid credentials
invalid credentials
invalid credentials
invalid credentials
logged in